@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Krona One', sans-serif;
}

.home_color {
  background: linear-gradient(180deg, #800800 400px, #d4cbcb 10%)
};

.color {
  background: linear-gradient(180deg, #800800 400px, #d4cbcb 10%)
};
